<!DOCTYPE html> 
<html> 
  <head> 
    <title>Rogue Rails</title> 
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="assets/roguerails_logo-114x114.jpg" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/roguerails_logo-114x114.jpg" />
    
    <%= favicon_link_tag "favicon.ico" %>

    <link rel="stylesheet" href="themes/roguerails.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
  </head> 

  <style>
    .logo {
        max-width: 80px;
      }
    .logo-home {
      max-width: 150px;
      margin-bottom: 30px;
    }
    .ui-li-aside {
      width: 20%;
    }
    section {
      max-width: 600px;
      margin: 20px auto;
    }
  </style>
<body> 
  <div id="homepage" data-role="page" data-theme="a">
    <div data-role="content"> 
      <p style="text-align:center;"><%= image_tag "roguerails-logo.png", class: "logo-home", alt: "Rogue Rails" %></p>

      <p><a href="#schedule" data-role="button" data-theme="c" data-icon="arrow-r" data-iconpos="right" data-transition="slidefade">Schedule</a></p>
    </div><!-- /content -->

  </div><!-- /homepage -->

  <div data-role="page" id="schedule" data-theme="a">

    <div data-role="header" data-theme="a" data-position="fixed">
      <a href="#homepage" data-icon="arrow-l" data-transition="slidefade" data-rel="back">back</a>
      <h1 style="margin: 4px 0 2px;"><%= image_tag "RR-horizontal-logo.png", class: "logo", alt: "Rogue Rails" %></h1>
    </div><!-- /header -->

    <div data-role="content"  data-theme="b">

      <section id="schedule">
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Wednesday, October 23, 2013 <!-- <span class="ui-li-count">10</span> --></li>
          <li><a href="#">
            <h4>Registration + Coffee</h4>
            <p><strong>Coffee, muffins, fruit and bars available</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>8:30</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Introduction</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>9:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Inception</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>10:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Lunch</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>12:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Iteration Planning Meeting</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>1:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Pair Programming Intro</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>2:45</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Tech Setup + Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>3:15</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Testing with Cucumber</h2>
            <p><strong>Ryan Bates</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>4:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>End of First Session</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dinner + Social Hour</h2>
            <p><strong>Location: TBD</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:30</strong>PM</p>
          </a></li>

          <li data-role="list-divider">Thursday, October 24, 2013 <!-- <span class="ui-li-count">13</span> --></li>
          <li><a href="#">
            <h2>Coffee</h2>
            <p><strong>Coffee, muffins, fruit and bars available</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>8:30</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Stand Up + Set Pairs</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>8:45</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>9:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Foundation Framework</h2>
            <p><strong>Ryan Bates</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>9:45</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Design Workshop</h2>
            <p><strong>Trever Yarrish</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>11:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Lunch</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>12:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Stand Up + Set Pairs</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>1:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>1:15</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Frontend Frameworks</h2>
            <p><strong>Ryan Bates</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>2:30</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>3:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Retrospective Meeting</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>4:30</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>End of Second Session</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dinner + Social Hour</h2>
            <p><strong>Location: TBD</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:30</strong>PM</p>
          </a></li>

          <li data-role="list-divider">Friday, October 25, 2013 <!-- <span class="ui-li-count">14</span> --></li>
          <li><a href="#">
            <h2>Coffee</h2>
            <p><strong>Coffee, muffins, fruit and bars available</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>8:30</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Stand Up + Set Pairs</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>8:45</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>9:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Deployment</h2>
            <p><strong>Ryan Bates</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>10:30</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>11:00</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Lunch</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>12:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Stand Up + Set Pairs</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>1:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>1:15</strong>AM</p>
          </a></li>
          <li><a href="#">
            <h2>Circle CI Integration</h2>
            <p><strong>David Lowe</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>2:30</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dev Pairing</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>3:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Retrospective Meeting</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>4:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Wrap Up + Show &amp; Tell</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>4:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>End of Third Session</h2>
            <p><strong></strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:00</strong>PM</p>
          </a></li>
          <li><a href="#">
            <h2>Dinner + Social Hour</h2>
            <p><strong>Location: TBD</strong></p>
            <p></p>
            <p class="ui-li-aside"><strong>5:30</strong>PM</p>
          </a></li>
        </ul>
      </section>
    </div>
    <div data-role="footer" data-theme="a">
      <p class="copyright-info">&copy;2013 Rogue Rails, LLC</p>
    </div>
  </div>
  

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41902157-1', 'roguerails.com');
    ga('send', 'pageview');

  </script>
</body>
</html>