  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc-embedded-subscribe-form {
      text-align: center;
    }
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

    #mc_embed_signup input.button {
      display: inline-block;
      padding: 7px 30px;
      margin: 0;
      width: auto;
      min-width: none;
      line-height: 1;
      font-size: 16px;
    }
    #mce-EMAIL {
      height: 33px;
    }
    #mc-embedded-subscribe.button {
      background: #D25E4C;
      background-image: -o-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
      background-image: -moz-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
      background-image: -webkit-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
      background-image: -ms-linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.23) 100%);
      border: 1px solid #D58477;
      -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
      font-weight: bold;
      font-size: 1.5625em;
      color: #FFFFFF;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
      margin-bottom: 70px;
      margin-top: 30px;
      display: inline;
    }
    #mc-embedded-subscribe.button:hover { background: #bc422f; }
    #mc_embed_signup input.email {border-radius: 4px; display: inline;}
  </style>

  <div class="row">
		<div class="small-12 small-centered columns">
      <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
		</div>
	</div>

  <section id="stay-tuned">
    <div class="row">
      <header class="section-header">
        <div class="small-12 small-centered columns">
          <h2 class="thank-you">Southern Oregon 2014</h2>
          <p style="color: #777; font-size: 22px;">Three day workshop, one day conference. Limited seats.</p>
          <div id="mc_embed_signup" class="row">
            <!-- <p style="color: #D25E4C; font-size: 18px; font-weight: 300;">Sign up during RailsConf to get sent Free Swag and <strong>a smokin' deal when registration opens!</strong></p> -->
            <form action="http://roguerails.us1.list-manage.com/subscribe/post?u=dccaa894b5af9530a6ead007e&amp;id=b8f8a9c02d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate large-6 columns large-offset-3" target="_blank" novalidate>

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="What's your email address?" required>
              <input type="submit" value="Get Updated!" name="subscribe" id="mc-embedded-subscribe" class="register-link small button">
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_dccaa894b5af9530a6ead007e_b8f8a9c02d" value=""></div>
            </form>
          </div>

          <p class="social-icons"><strong><a href="http://twitter.com/RogueRails" class="twitter icon">Follow us on Twitter for details</a></strong></p>
        </div>
      </header>
    </div>
  </section>

  <section id="footer-copyright">
    <div class="row">
      <div class="large-12 columns" style="clear: both;">
        <p class="copyright-info" style="float: left;">&copy;2014 Rogue Rails, LLC</p>
        <p style="float: right;"><a href="http://codingzeal.com">Organized by codingZEAL</a></p>
      </div>
    </div>
  </section>

  <div class="floating-logo">
    <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
  </div>

<% content_for :footer_scripts do %>
  <script type="text/javascript">
    $(function() {
      $('body').peelback({
          adImage  : "<%= asset_path('2013-peel-ad.jpg') %>",
          peelImage  : "<%= asset_path('peel-image.png') %>",
          clickURL : '/2013',
          smallSize: 88,
          bigSize: 520,
          gaTrack  : true,
          gaLabel  : 'Rogue Rails - Workshop + Conference - 2013',
          autoAnimate: true
        });
    });
  </script>
<% end %>
