  <div class="row">
		<div class="small-12 small-centered columns">
      <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
		</div>
	</div>

  <section id="stay-tuned">
    <div class="row">
      <header class="section-header">
        <div class="small-12 small-centered columns">
          <h2 class="thank-you">Stay Tuned!</h2>
          <h3>In the coming months, we will announce the 2014 workshop and conference schedule</h3>
          <p class="social-icons"><strong><a href="http://twitter.com/RogueRails" class="twitter icon">Follow us on Twitter for details</a></strong></p>
        </div>
    </header>
    </div>
  </section>

  <section id="sponsors">
    <div class="row">
      <header class="section-header">
        <h2>2013 Sponsors</h2>
      </header>
    </div>
    <div class="row">
      <div class="gold sponsors">
        <h3>Gold Sponsors</h3>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://www.codingzeal.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250" title="ZEAL is a dev studio built on a passion for Rails, TDD, pair programming, and the agile methodologies."><img src="assets/sponsors/zeal_logo.png" alt="ZEAL"></a>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://www.mandrill.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250"  title="Mandrill is a scalable and affordable email infrastructure service, with all the marketing-friendly analytics tools you’ve come to expect from MailChimp."><img src="assets/sponsors/mandrill_logo.png" alt="Mandrill by MailChimp"></a>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://www.ninefold.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250"  title="Built for Rails. Easy app deployment. Better app performance."><img src="assets/sponsors/ninefold_logo.png" alt="Ninefold"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="silver sponsors">
        <h3>Silver Sponsors</h3>
        <div class="large-3 columns">
          <div class="sponsor">
            <a href="http://www.railscasts.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250" title="RailsCasts is produced by Ryan Bates. Episodes feature tips and tricks with Ruby on Rails. The screencasts are short and focus on one technique so you can quickly move on to applying it to your own project."><img src="assets/sponsors/railscasts_logo.png" alt="Railscasts"></a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="sponsor">
            <a href="http://www.pivotallabs.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250" title="Pivotal Labs been at the forefront of agile development for more than two decades building highly reliable, scalable software for innovative industry leaders and emerging companies across a number of industries."><img src="assets/sponsors/pivotal-labs_logo.png" alt="Pivotal Labs"></a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="sponsor">
            <a href="http://www.airpair.com" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250" title="Better Software, Faster. Connect with developers for real-time help via video &amp; screen sharing."><img src="assets/sponsors/airpair_logo.png" alt="AirPair"></a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="sponsor">
            <a href="https://circleci.com/" target="_blank" data-tooltip data-options="disable-for-touch:true" class="has-tip tip-top" data-width="250" title="CircleCI gives web developers powerful Continuous Integration and Deployment with easy setup and maintenance."><img src="assets/sponsors/circleci_logo.png" alt="CircleCi"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bronze sponsors">
        <h3>Bronze Sponsors</h3>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://www.defineyouredge.com" target="_blank"><img src="assets/sponsors/dye_logo.png" alt="Define Your Edge"></a>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://www.codeclimate.com" target="_blank"><img src="assets/sponsors/code-climate_logo.png" alt="Code Climate"></a>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="sponsor">
            <a href="http://community.github.com" target="_blank"><img style="max-width:178px;" src="assets/sponsors/github_logo.png" alt="Github Community"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="footer-copyright">
    <div class="row">
      <div class="large-12 columns" style="clear: both;">
        <p class="copyright-info" style="float: left;">&copy;2013 Rogue Rails, LLC</p> 
        <p style="float: right;"><a href="http://codingzeal.com">Organized by Coding ZEAL</a></p>
      </div>
    </div>
  </section>

  <div class="floating-logo">
    <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
  </div>