  <div class="row">
		<div class="small-12 small-centered columns">
      <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
		</div>
	</div>

  <section id="stay-tuned">
    <div class="row">
      <header class="section-header">
        <div class="small-12 small-centered columns">
          <h2 class="thank-you">Stay Tuned!</h2>
          <h3>In the coming months, we will announce the 2014 workshop and conference schedule</h3>
          <p class="social-icons"><strong><a href="http://twitter.com/RogueRails" class="twitter icon">Follow us on Twitter for details</a></strong></p>
        </div>
    </header>
    </div>
  </section>

  <section id="footer-copyright">
    <div class="row">
      <div class="large-12 columns" style="clear: both;">
        <p class="copyright-info" style="float: left;">&copy;2013 Rogue Rails, LLC</p> 
        <p style="float: right;"><a href="http://codingzeal.com">Organized by Coding ZEAL</a></p>
      </div>
    </div>
  </section>

  <div class="floating-logo">
    <%= image_tag "roguerails-logo.png", class: "logo", alt: "Rogue Rails" %>
  </div>