body {
	background: rgb(25,25,25) url('../images/bg-texture.png') repeat;
	text-align: center;
	color: rgb(200,210,210);
	font-family: ff-unit-slab-web, Georgia, 'Times New Roman', serif;
}
a {
	color: rgb(200,255,255);
}
a:visited {
	color: rgb(200,255,255);
}
a:hover {
	color: rgb(255,255,255);
}
*, *:before, *:after {
 	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#brand {
	text-align: center;
}
#brand img {
	max-width: 100%;
	min-width: 150px;
}
#dates {
	font-size: 24px;
}
.row {
	width: 1000px;
	max-width: 100%;
	min-width: 334px;
	margin: 0 auto;
}
strong {
	font-weight: bold;
	color: #444;
}